

body{
    min-height: 100vh;
    background-color: grey;
}



.nav{
    display: flex;
    justify-content: center;
}



main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}


.pokemon {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 3rem -1rem black;
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon-id-back{
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
    left: 50%;
    font-size: 6rem;
    font-weight: bold;
    color: grey;
    z-index: -1;
    color: grey;
    
}

.pokemon-img{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    text-align: center;
    align-items: center;
}

.nombre-contenedor{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id{
    background-color: grey;
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: bold;
}

.pokemon-nombre{
    font-size: 1.4rem;
}

.imagenPikachu{
    width: 100%;
    max-width: 6rem;
}

.pokemon-tipos{
    display: flex;
    gap: 5rem;
    font-size: .75rem;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo{
    padding: .25rem .5rem;
    border-radius: 100vmax;
    background-color: rgb(212, 212, 209);
}

.pokemon-stats{
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat{
    background-color: grey;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

